<a href="https://colab.research.google.com/github/rulogar1234/nuclio-1/blob/develop/Project_TrenMax_en_clase_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MASTER DATA SCIENCE: NUCLIO
## PROFESOR: JOSEPH GALLART
## PROJECT TRENMAX 1/2

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#importamos librer√≠a
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder,MinMaxScaler

import folium
import plotly.express as px

In [ ]:
#LEEMOS EL FICHERO DE RENFE

In [3]:
df_renfe = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/renfe.csv", sep=",")

In [ ]:
df_renfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383568 entries, 0 to 383567
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   FECHA_CONSULTA  383568 non-null  object
 1   FECHA_INICIO    383568 non-null  object
 2   FECHA_FIN       383568 non-null  object
 3   CIUDAD_ORIGEN   383568 non-null  object
 4   CIUDAD_DESTINO  383568 non-null  object
 5   TIPO_TREN       345211 non-null  object
 6   TIPO_TARIFA     344009 non-null  object
 7   CLASE           344000 non-null  object
 8   PRECIO          355038 non-null  float64
dtypes: float64(1), object(8)
memory usage: 26.3+ MB

In [ ]:
df_renfe.head()

,FECHA_CONSULTA,FECHA_INICIO,FECHA_FIN,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO
0,2019-05-25 01:43:03,2019-06-28 20:36:00,2019-06-28 23:14:00,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20
1,2019-06-22 13:05:11,2019-07-14 10:00:00,2019-07-14 13:10:00,BARCELONA,MADRID,AVE,Flexible,Turista,107.70
2,2019-04-17 06:24:03,2019-05-23 13:40:00,2019-05-23 16:10:00,SEVILLA,MADRID,AVE,Promo,Turista,47.30
3,2019-05-10 21:21:59,2019-05-29 14:50:00,2019-05-29 22:30:00,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35
4,2019-05-09 19:43:37,2019-06-26 13:25:00,2019-06-26 16:24:00,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75

In [ ]:
#PREGUNTA 1

In [ ]:
#Saber en que columnas hay nulos
df_renfe.isnull().sum()

FECHA_CONSULTA        0
FECHA_INICIO          0
FECHA_FIN             0
CIUDAD_ORIGEN         0
CIUDAD_DESTINO        0
TIPO_TREN         38357
TIPO_TARIFA       39559
CLASE             39568
PRECIO            28530
dtype: int64

In [ ]:
#PREGUNTA 2

In [4]:
df_renfe2 = df_renfe.copy()

In [5]:
df_renfe2['fechaconsulta'] = pd.to_datetime(df_renfe2['FECHA_CONSULTA'])

In [6]:
df_renfe2['fechainicio'] = pd.to_datetime(df_renfe2['FECHA_INICIO'])

In [7]:
df_renfe2['fechafin'] = pd.to_datetime(df_renfe2['FECHA_FIN'])

In [8]:
del(df_renfe2['FECHA_CONSULTA'])

In [9]:
del(df_renfe2['FECHA_INICIO'])

In [10]:
del(df_renfe2['FECHA_FIN'])

In [ ]:
df_renfe2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383568 entries, 0 to 383567
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CIUDAD_ORIGEN   383568 non-null  object
 1   CIUDAD_DESTINO  383568 non-null  object
 2   TIPO_TREN       345211 non-null  object
 3   TIPO_TARIFA     344009 non-null  object
 4   CLASE           344000 non-null  object
 5   PRECIO          355038 non-null  float64
 6   fechaconsulta   383568 non-null  datetime64[ns]
 7   fechainicio     383568 non-null  datetime64[ns]
 8   fechafin        383568 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), object(5)
memory usage: 26.3+ MB

In [ ]:
#PREGUNTA 3

In [11]:
df_renfe3=df_renfe2.copy()

In [ ]:
df_renfe3[df_renfe3.duplicated(keep='first')]

,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,fechaconsulta,fechainicio,fechafin
67494,MADRID,BARCELONA,LD-AVE,Promo,Turista,NaN,2019-04-29 23:15:13,2019-05-14 06:20:00,2019-05-14 14:25:00
82429,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40,2019-04-30 09:09:51,2019-05-19 17:30:00,2019-05-19 19:43:00
88401,VALENCIA,MADRID,INTERCITY,NaN,NaN,NaN,2019-05-15 23:37:01,2019-06-21 21:05:00,2019-06-21 23:32:00
107458,VALENCIA,MADRID,INTERCITY,Flexible,TuristaS√≥lo plaza H,55.40,2019-06-12 11:51:44,2019-06-16 17:30:00,2019-06-16 19:43:00
143395,VALENCIA,MADRID,INTERCITY,Flexible,Turista,NaN,2019-08-17 03:22:19,2019-09-01 21:03:00,2019-09-01 23:28:00
159167,VALENCIA,MADRID,INTERCITY,NaN,NaN,NaN,2019-05-16 13:12:07,2019-06-29 21:05:00,2019-06-29 23:32:00
170659,VALENCIA,MADRID,INTERCITY,NaN,NaN,NaN,2019-05-15 21:26:30,2019-06-23 21:05:00,2019-06-23 23:32:00
191339,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40,2019-08-18 17:34:03,2019-08-23 21:03:00,2019-08-23 23:28:00
235466,MADRID,BARCELONA,LD-AVE,Promo,Turista Plus,NaN,2019-06-18 23:16:29,2019-07-23 07:00:00,2019-07-23 14:25:00
241656,VALENCIA,MADRID,INTERCITY,Promo,Turista,NaN,2019-05-14 03:01:42,2019-07-07 21:05:00,2019-07-07 23:32:00
242549,PONFERRADA,MADRID,LD,Flexible,Turista con enlace,NaN,2019-08-14 23:43:07,2019-09-01 11:28:00,2019-09-01 16:00:00
245026,VALENCIA,MADRID,INTERCITY,NaN,NaN,NaN,2019-05-13 03:23:34,2019-07-01 21:05:00,2019-07-01 23:32:00
256887,VALENCIA,MADRID,INTERCITY,Promo,Turista,43.75,2019-06-10 01:10:54,2019-07-07 21:03:00,2019-07-07 23:28:00
263942,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40,2019-04-21 08:08:16,2019-04-28 17:30:00,2019-04-28 19:43:00
274827,VALENCIA,MADRID,INTERCITY,Flexible,TuristaS√≥lo plaza H,55.40,2019-06-17 21:00:29,2019-06-23 21:03:00,2019-06-23 23:28:00
279458,VALENCIA,MADRID,INTERCITY,Promo,Turista,43.75,2019-04-27 17:08:49,2019-05-26 17:30:00,2019-05-26 19:43:00
307296,VALENCIA,MADRID,INTERCITY,Flexible,TuristaS√≥lo plaza H,55.40,2019-06-19 23:28:29,2019-06-23 21:03:00,2019-06-23 23:28:00
316991,MADRID,BARCELONA,LD-AVE,Promo,Turista,NaN,2019-04-30 01:05:31,2019-05-11 07:00:00,2019-05-11 14:25:00
328693,VALENCIA,MADRID,INTERCITY,Flexible,Turista,NaN,2019-04-19 09:10:48,2019-04-21 17:30:00,2019-04-21 19:43:00
346701,BARCELONA,MADRID,AVE-LD,Flexible,Turista,NaN,2019-04-29 23:03:20,2019-05-03 15:50:00,2019-05-03 23:52:00
352451,MADRID,VALENCIA,INTERCITY,Promo,Turista,43.75,2019-05-03 05:33:32,2019-05-24 15:10:00,2019-05-24 17:20:00
356200,MADRID,VALENCIA,INTERCITY,Promo,Turista,43.75,2019-05-03 15:18:26,2019-05-24 15:10:00,2019-05-24 17:20:00
376617,VALENCIA,MADRID,INTERCITY,NaN,NaN,NaN,2019-05-17 15:22:08,2019-07-11 21:03:00,2019-07-11 23:28:00
383408,MADRID,VALENCIA,INTERCITY,Flexible,Turista,NaN,2019-04-27 17:26:36,2019-04-30 15:10:00,2019-04-30 17:20:00

In [12]:
df_renfe3.drop_duplicates(inplace=True)

In [13]:
df_renfe3[df_renfe3.duplicated(keep='first')]

Empty DataFrame
Columns: [CIUDAD_ORIGEN, CIUDAD_DESTINO, TIPO_TREN, TIPO_TARIFA, CLASE, PRECIO, fechaconsulta, fechainicio, fechafin]
Index: []

In [ ]:
#PREGUNTA 4

In [14]:
df_renfe4 = df_renfe3.copy()

In [15]:
df_renfe4['Tiempo_Viaje']= (df_renfe4['fechafin']-df_renfe4['fechainicio'])/np.timedelta64(1,'m')

In [ ]:
df_renfe4.head()

,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,fechaconsulta,fechainicio,fechafin,Tiempo_Viaje
0,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,2019-05-25 01:43:03,2019-06-28 20:36:00,2019-06-28 23:14:00,158.0
1,BARCELONA,MADRID,AVE,Flexible,Turista,107.70,2019-06-22 13:05:11,2019-07-14 10:00:00,2019-07-14 13:10:00,190.0
2,SEVILLA,MADRID,AVE,Promo,Turista,47.30,2019-04-17 06:24:03,2019-05-23 13:40:00,2019-05-23 16:10:00,150.0
3,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35,2019-05-10 21:21:59,2019-05-29 14:50:00,2019-05-29 22:30:00,460.0
4,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75,2019-05-09 19:43:37,2019-06-26 13:25:00,2019-06-26 16:24:00,179.0

In [16]:
df_renfe4['Dif_Ini_Bus'] = (df_renfe4['fechainicio']-df_renfe4['fechaconsulta'])/np.timedelta64(1,'m')

In [ ]:
df_renfe4.head()

,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,fechaconsulta,fechainicio,fechafin,Tiempo_Viaje,Dif_Ini_Bus
0,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,2019-05-25 01:43:03,2019-06-28 20:36:00,2019-06-28 23:14:00,158.0,50092.950000
1,BARCELONA,MADRID,AVE,Flexible,Turista,107.70,2019-06-22 13:05:11,2019-07-14 10:00:00,2019-07-14 13:10:00,190.0,31494.816667
2,SEVILLA,MADRID,AVE,Promo,Turista,47.30,2019-04-17 06:24:03,2019-05-23 13:40:00,2019-05-23 16:10:00,150.0,52275.950000
3,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35,2019-05-10 21:21:59,2019-05-29 14:50:00,2019-05-29 22:30:00,460.0,26968.016667
4,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75,2019-05-09 19:43:37,2019-06-26 13:25:00,2019-06-26 16:24:00,179.0,68741.383333

In [ ]:
#PREGUNTA 5

In [17]:
df_renfe5 = df_renfe4.copy()

In [18]:
for col in ['fechaconsulta', 'fechainicio', 'fechafin']:
    df_renfe5[col + '_HORA'] = df_renfe5[col].dt.hour
    df_renfe5[col + '_NOMBREDIA'] = df_renfe5[col].dt.day_name()
    ##O .dt.weekday_name
    df_renfe5[col + '_DIA'] = df_renfe5[col].dt.day
    df_renfe5[col + '_MES'] = df_renfe5[col].dt.month

    del df_renfe5[col]

In [ ]:
df_renfe5.head()

,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,Tiempo_Viaje,Dif_Ini_Bus,fechaconsulta_HORA,fechaconsulta_NOMBREDIA,fechaconsulta_DIA,fechaconsulta_MES,fechainicio_HORA,fechainicio_NOMBREDIA,fechainicio_DIA,fechainicio_MES,fechafin_HORA,fechafin_NOMBREDIA,fechafin_DIA,fechafin_MES
0,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,158.0,50092.950000,1,Saturday,25,5,20,Friday,28,6,23,Friday,28,6
1,BARCELONA,MADRID,AVE,Flexible,Turista,107.70,190.0,31494.816667,13,Saturday,22,6,10,Sunday,14,7,13,Sunday,14,7
2,SEVILLA,MADRID,AVE,Promo,Turista,47.30,150.0,52275.950000,6,Wednesday,17,4,13,Thursday,23,5,16,Thursday,23,5
3,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35,460.0,26968.016667,21,Friday,10,5,14,Wednesday,29,5,22,Wednesday,29,5
4,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75,179.0,68741.383333,19,Thursday,9,5,13,Wednesday,26,6,16,Wednesday,26,6

In [ ]:
#PREGUNTA 6

In [19]:
df_renfe6 = df_renfe5.copy()

In [20]:
(df_renfe6['PRECIO'].isnull().sum()/len(df_renfe6))*100

7.434870575475043

In [ ]:
#PREGUNTA 7

In [21]:
df_renfe7 = df_renfe6.copy()
len(df_renfe7)

383544

In [ ]:
#Saber en que columnas hay nulos
df_renfe7.isnull().sum()

CIUDAD_ORIGEN                  0
CIUDAD_DESTINO                 0
TIPO_TREN                  38357
TIPO_TARIFA                39554
CLASE                      39563
PRECIO                     28516
Tiempo_Viaje                   0
Dif_Ini_Bus                    0
fechaconsulta_HORA             0
fechaconsulta_NOMBREDIA        0
fechaconsulta_DIA              0
fechaconsulta_MES              0
fechainicio_HORA               0
fechainicio_NOMBREDIA          0
fechainicio_DIA                0
fechainicio_MES                0
fechafin_HORA                  0
fechafin_NOMBREDIA             0
fechafin_DIA                   0
fechafin_MES                   0
dtype: int64

In [22]:
df_renfe7['TIPO_TREN'].unique()

array(['ALVIA', 'AVE', 'REGIONAL', 'AVE-TGV', 'R. EXPRES', 'LD',
       'INTERCITY', 'TRENHOTEL', 'MD-LD', nan, 'AV City', 'MD-AVE',
       'LD-MD', 'AVE-LD', 'AVE-MD', 'LD-AVE', 'MD'], dtype=object)

In [23]:
df_renfe7['TIPO_TREN'].value_counts()

AVE          236293
ALVIA         27231
INTERCITY     17827
REGIONAL      16817
AV City        9754
MD-LD          7475
LD             5905
AVE-TGV        4593
R. EXPRES      4165
TRENHOTEL      3956
AVE-LD         3505
AVE-MD         2955
LD-MD          2793
MD-AVE          871
MD              548
LD-AVE          499
Name: TIPO_TREN, dtype: int64

In [24]:
(df_renfe7['TIPO_TREN'].isnull().sum()/len(df_renfe6))*100

10.00067788832572

In [25]:
indices_eliminar=df_renfe7[df_renfe7['TIPO_TREN'].isnull() & df_renfe7['TIPO_TARIFA'].isnull() & df_renfe7['CLASE'].isnull()].index

In [26]:
df_renfe7.drop(indices_eliminar,inplace=True)
len(df_renfe7)

383010

In [ ]:
df_renfe7[(df_renfe7['TIPO_TREN'].isnull()) & (df_renfe7['CLASE'].isnull())]

,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,Tiempo_Viaje,Dif_Ini_Bus,fechaconsulta_HORA,fechaconsulta_NOMBREDIA,fechaconsulta_DIA,fechaconsulta_MES,fechainicio_HORA,fechainicio_NOMBREDIA,fechainicio_DIA,fechainicio_MES,fechafin_HORA,fechafin_NOMBREDIA,fechafin_DIA,fechafin_MES
212,SEVILLA,MADRID,NaN,Flexible,NaN,62.20,160.0,70667.450000,17,Friday,7,6,19,Friday,26,7,21,Friday,26,7
299,BARCELONA,MADRID,NaN,Flexible,NaN,107.70,165.0,63711.200000,5,Wednesday,29,5,11,Friday,12,7,13,Friday,12,7
308,MADRID,SEVILLA,NaN,Promo,NaN,60.30,152.0,25705.183333,21,Saturday,20,4,18,Wednesday,8,5,20,Wednesday,8,5
326,VALENCIA,MADRID,NaN,Promo,NaN,45.30,100.0,53661.150000,6,Wednesday,24,4,12,Friday,31,5,14,Friday,31,5
377,BARCELONA,MADRID,NaN,Promo,NaN,90.50,190.0,14450.350000,13,Wednesday,29,5,14,Saturday,8,6,17,Saturday,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383171,BARCELONA,MADRID,NaN,Promo,NaN,49.55,167.0,58197.416667,11,Saturday,22,6,21,Thursday,1,8,0,Friday,2,8
383202,MADRID,BARCELONA,NaN,Flexible,NaN,107.70,170.0,64355.866667,23,Monday,13,5,16,Thursday,27,6,19,Thursday,27,6
383258,MADRID,BARCELONA,NaN,Promo,NaN,88.95,150.0,14748.200000,9,Friday,3,5,15,Monday,13,5,17,Monday,13,5
383378,MADRID,BARCELONA,NaN,Flexible,NaN,107.70,190.0,9882.900000,14,Friday,19,4,11,Friday,26,4,14,Friday,26,4
383431,MADRID,BARCELONA,NaN,Promo,NaN,82.35,150.0,74596.783333,11,Tuesday,7,5,7,Friday,28,6,9,Friday,28,6

In [ ]:
df_renfe7[(df_renfe7['TIPO_TREN'].notna()) & (df_renfe7['CLASE'].notna()) & (df_renfe7['CIUDAD_DESTINO'] == 'MADRID') & (df_renfe7['TIPO_TREN'] == 'ALVIA')]

,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,Tiempo_Viaje,Dif_Ini_Bus,fechaconsulta_HORA,fechaconsulta_NOMBREDIA,fechaconsulta_DIA,fechaconsulta_MES,fechainicio_HORA,fechainicio_NOMBREDIA,fechainicio_DIA,fechainicio_MES,fechafin_HORA,fechafin_NOMBREDIA,fechafin_DIA,fechafin_MES
0,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,158.0,50092.950000,1,Saturday,25,5,20,Friday,28,6,23,Friday,28,6
50,SEVILLA,MADRID,ALVIA,NaN,Turista,NaN,166.0,24497.816667,9,Thursday,20,6,9,Sunday,7,7,12,Sunday,7,7
61,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,158.0,64984.666667,9,Friday,31,5,12,Monday,15,7,14,Monday,15,7
77,SEVILLA,MADRID,ALVIA,Promo,Turista,NaN,166.0,14243.400000,12,Monday,15,4,9,Thursday,25,4,12,Thursday,25,4
153,SEVILLA,MADRID,ALVIA,Flexible,Turista,NaN,166.0,7958.300000,21,Wednesday,17,4,9,Tuesday,23,4,12,Tuesday,23,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383410,SEVILLA,MADRID,ALVIA,Promo,Preferente,61.20,172.0,81457.766667,1,Tuesday,4,6,14,Tuesday,30,7,17,Tuesday,30,7
383458,SEVILLA,MADRID,ALVIA,NaN,Turista,47.05,172.0,58035.966667,7,Saturday,3,8,14,Thursday,12,9,17,Thursday,12,9
383471,VALENCIA,MADRID,ALVIA,Promo,Preferente,46.15,160.0,29241.133333,1,Wednesday,19,6,8,Tuesday,9,7,11,Tuesday,9,7
383522,SEVILLA,MADRID,ALVIA,Promo,Preferente,NaN,172.0,23607.766667,5,Friday,31,5,14,Sunday,16,6,17,Sunday,16,6
383536,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,158.0,75287.583333,13,Thursday,22,8,20,Sunday,13,10,23,Sunday,13,10

In [27]:
indices_eliminar=df_renfe7[(df_renfe7['TIPO_TREN'].isnull() & df_renfe7['TIPO_TARIFA'].isnull()) | (df_renfe7['TIPO_TREN'].isnull() & df_renfe7['CLASE'].isnull()) | (df_renfe7['CLASE'].isnull() & df_renfe7['TIPO_TARIFA'].isnull())].index

In [28]:
len(indices_eliminar)

11704

In [29]:
df_renfe7.drop(indices_eliminar,inplace=True)

In [30]:
len(df_renfe7)

371306

In [31]:
df_renfe7[df_renfe7['TIPO_TREN'].isnull()]

,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,Tiempo_Viaje,Dif_Ini_Bus,fechaconsulta_HORA,fechaconsulta_NOMBREDIA,fechaconsulta_DIA,fechaconsulta_MES,fechainicio_HORA,fechainicio_NOMBREDIA,fechainicio_DIA,fechainicio_MES,fechafin_HORA,fechafin_NOMBREDIA,fechafin_DIA,fechafin_MES
25,BARCELONA,MADRID,NaN,Promo,Preferente,98.00,190.0,19008.400000,13,Tuesday,14,5,18,Monday,27,5,21,Monday,27,5
26,VALENCIA,MADRID,NaN,Promo,Turista,51.15,107.0,56798.450000,11,Wednesday,31,7,22,Sunday,8,9,23,Sunday,8,9
27,MADRID,VALENCIA,NaN,Promo,Turista,39.45,109.0,32980.550000,21,Monday,29,7,19,Wednesday,21,8,21,Wednesday,21,8
68,BARCELONA,MADRID,NaN,Promo,Turista,85.10,190.0,20331.716667,5,Monday,22,4,8,Monday,6,5,11,Monday,6,5
78,MADRID,SEVILLA,NaN,Promo,Turista,47.30,158.0,49790.933333,5,Sunday,28,4,19,Saturday,1,6,21,Saturday,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383429,MADRID,VALENCIA,NaN,Promo,Turista Plus,36.05,250.0,40103.783333,21,Friday,26,4,17,Friday,24,5,21,Friday,24,5
383446,SEVILLA,MADRID,NaN,Promo,Turista,60.30,152.0,68061.866667,11,Saturday,3,8,17,Thursday,19,9,20,Thursday,19,9
383448,MADRID,VALENCIA,NaN,Adulto ida,Turista,28.35,402.0,14679.733333,11,Friday,21,6,16,Monday,1,7,22,Monday,1,7
383510,MADRID,BARCELONA,NaN,Promo,Turista,66.75,171.0,56965.616667,1,Thursday,1,8,14,Monday,9,9,17,Monday,9,9
383557,SEVILLA,MADRID,NaN,Flexible,Turista,76.30,150.0,25750.050000,11,Monday,3,6,8,Friday,21,6,11,Friday,21,6

In [32]:
df_renfe7['TIPO_TREN'].fillna("SIN TIPO",inplace=True)

In [33]:
df_renfe7['TIPO_TARIFA'].fillna("SIN TIPO",inplace=True)

In [34]:
df_renfe7['CLASE'].fillna("SIN CLASE",inplace=True)

In [35]:
df_renfe7['TIPO_TREN'].unique()

array(['ALVIA', 'AVE', 'REGIONAL', 'AVE-TGV', 'R. EXPRES', 'LD',
       'INTERCITY', 'TRENHOTEL', 'MD-LD', 'SIN TIPO', 'AV City', 'MD-AVE',
       'LD-MD', 'AVE-MD', 'AVE-LD', 'LD-AVE', 'MD'], dtype=object)

In [36]:
indices_eliminar=df_renfe7[df_renfe7['PRECIO'] == 0].index

In [37]:
df_renfe7.drop(indices_eliminar,inplace=True)

In [38]:
indices_eliminar=df_renfe7[df_renfe7['PRECIO'].isnull()].index

In [39]:
df_renfe7.drop(indices_eliminar,inplace=True)

In [40]:
len(df_renfe7)

344906

In [ ]:
#PREGUNTA 8

In [ ]:
#PREGUNTA 9

In [ ]:
#PREGUNTA 10